<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156433260912-566120odfmhgf47l4ih2v06fnoap7tat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156433260912-566120odfmhgf47l4ih2v06fnoap7tat</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>156433260912-rpbdhl6obhc961j34h4esugpg427d4ju.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfwEXass7S5JfFe2kg2wobH5ShVfOsxpI</string>
	<key>GCM_SENDER_ID</key>
	<string>156433260912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dreamApp</string>
	<key>PROJECT_ID</key>
	<string>dream-app-if22dev</string>
	<key>STORAGE_BUCKET</key>
	<string>dream-app-if22dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156433260912:ios:f40bae12b7f29f01b8efb5</string>
</dict>
</plist>